{% extends 'post/blog.html' %}

{% block content %}



<div id="banner" class="rounded-xl bg-gradient-to-r from-cyan-500 to-blue-500 p-6 m-1 cursor-pointer">

    <h1 id="gailenDevs" class="text-8xl text-white w-full p-4">GAILEN<span class="opacity-50">BLOGS</span></h1>
    <article class="text-left text-sm text-gray-200 px-20 mb-10 space-y-3">
        <p class="transition ease-in-and-out duration-200 hover:opacity-100 opacity-75">
            This blog has been created in order that my progress as a developer might be tracked and reflected on.
        </p>
        <p class="transition ease-in-and-out duration-200 hover:opacity-100 opacity-75">
            It is intended to aid in my own personal growth while simultaniously giving valuable insight into my
            abilities to potential employers.</p>
        <p class="transition ease-in-and-out duration-200 hover:opacity-100 opacity-75">
            Feel free to leave me a comment on any of the posts or drop me an email.</p>
    </article>

</div>
<div class="grid grid-flow-row md:grid-cols-2 xl:grid-cols-3">
    {% for post in posts %}
<div class="p-1">
    <article id="post" class="p-3 bg-gray-50 rounded-xl shadow-inner">
        
            <div class="text-right">
                <h2 class="text-3xl">
                    {{post.title}}
                </h2>
                <p class="text-sm opacity-50">
                    {{post.created_at}}
                </p>
            </div>

            <hr class="m-4 text-center">

            <p>{{post.intro}}</p>
            <div class="py-3 flex justify-center">
            <a href="{% url 'post_detail' post.slug %}" class="rounded-full border-solid border-2 border-sky-400 text-sky-500 p-4 transition ease-in-and-out hover:shadow-lg">
            Read more...</a>                
            </div>

        
    </article>
</div>
    {% endfor %}
</div>


<footer>
    <p class="text-right text-sm text-gray-500">developed by <a href="http://gailen.me">www.gailen.me</a></p>
</footer>


{% endblock %}